<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
  class="dialog-close-wrapper d-flex justify-content-between align-items-center">
  <h3 mat-dialog-title> {{ selectedConfig.title }} </h3>
</div>
<mat-dialog-content class="mat-typography mt-2" *ngIf="data.message">
  <h4 class="headerClass" [innerText]="data.message"></h4>
</mat-dialog-content>
<mat-dialog-actions [align]="'center'">
  <ng-container *ngFor="let custBtn of selectedConfig.buttons">
    <button mat-button class="popup-action-button btn-common btn-common-md" [style.background]="custBtn.background"
      [mat-dialog-close]="true" [attr.cdkFocusInitial]="custBtn?.isFocus" (click)="clickedButton(custBtn)">
      {{ custBtn.label }} </button>
  </ng-container>
</mat-dialog-actions>